header{
    display: flex;
    height: 150px;
    color: rgb(4, 4, 39);
    font-family: fantasy;
    background-color: whitesmoke;
}

.header-left{
    display: flex;
    align-items: center;
    margin: 0 auto;   
}

h1{
    font-size: 40px; 
}

p{
    font-size: 20px;
}



main{
    background-image: url(https://www.pakutaso.com/shared/img/thumb/046sayaka425_TP_V4.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    flex-direction: column; 
    height: 2fr;
    display: flex;
    color: rgb(19, 107, 95);
}


.profile h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 70px 100px;
    font-family: cursive;
}

.list-left li{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 50px 40px;
    font-family: monospace;
}


.list-right li{
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin: 40px;
    display: inline-block;
}

.hobby{
    padding: 50px 0;
    color: beige;
}

.hobby h2{
    text-align: center;
    font-size: 40px;
}

.life{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    padding: 50px;
}

.life li{
    padding: 0 40px;
}

footer{
    display: flex;
    background-color: rgb(50, 205, 184);
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

button{
    font-size: 25px;
    padding: 10px 30px;
    margin: 30px 70px;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
}

button:first-child{
    background: rgba(18, 228, 123,0.5);
}
.register-left:hover{
    background: rgb(15, 49, 199,1);
}
button:nth-child(2){
    background: rgba(34, 21, 221, 0.5);
}
.register-center:hover{
    background: rgb(203, 18, 228,1);
}
button:last-child{
    background: rgba(216, 15, 15, 0.5);
}
.register-right:hover{
    background: rgb(204, 11, 11)
}

.seedkun{
    animation: fadeIn 3s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        margin-left: 800px;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:1100px){
    .list-right{
        justify-content: space-around;
    }

    .life{
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px){
    .list-left{
        flex-wrap: wrap;
    }

    .life{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px){
    h1{
        margin-left: 40px;
    }

    .seedkun{   
         margin-right: 50px;
    }
}